.miPanel{
    border-radius:0px !important;
    align-content: center !important;
}

.miButton{
    border-radius:0px !important;
}

.miInput{
    border-radius: 0px !important;
}

.centradoVertical{
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
}