
<div class="cuerpo wrapper">
	<div class="cuerpo" id="pagMapa">
        
       <div class="container">
       	<h4 class="titulodispositivos">Información de dispositivos</h4>
       	<h4 class="saladispositivos">Sala: 5xx</h4>
       	 <center>
        	<div class="panel dispositivos">
                
			  <table class="table" style="margin-left: 100px;" >
			    <thead >
			      <tr>
			        <th>Marca</th>
			        <th>Modelo</th>
			        <th>Sistema Operativo</th>
			        <th>Calidad de señal</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>Samsung</td>
			        <td>J7 Prime</td>
			        <td>Android x.x</td>
			        <td>Intermedia</td>
			      </tr>
			       <tr>
			        <td>Samsung</td>
			        <td>J7 Prime</td>
			        <td>Android x.x</td>
			        <td>Intermedia</td>
			      </tr>
			       <tr>
			        <td>Samsung</td>
			        <td>J7 Prime</td>
			        <td>Android x.x</td>
			        <td>Intermedia</td>
			      </tr>
			       <tr>
			        <td>Samsung</td>
			        <td>J7 Prime</td>
			        <td>Android x.x</td>
			        <td>Intermedia</td>
			      </tr>
			       <tr>
			        <td>Samsung</td>
			        <td>J7 Prime</td>
			        <td>Android x.x</td>
			        <td>Intermedia</td>
			      </tr>
			       <tr>
			        <td>Samsung</td>
			        <td>J7 Prime</td>
			        <td>Android x.x</td>
			        <td>Intermedia</td>
			      </tr>
			       <tr>
			        <td>Samsung</td>
			        <td>J7 Prime</td>
			        <td>Android x.x</td>
			        <td>Intermedia</td>
			      </tr>
			    </tbody>
			  </table>
		
        	</div>
		

      </center>
       </div>


			
		


		<div id="map"></div>
		<div id = "legend3" class = "container-fluid legend2" v-bind:style = "{ 'display' : display }">
			<div id = "legendGradient">
				
			</div>
			<div class = "significado">
				<span class = "miInline" style = "padding-left:2px;padding-right: 140px;">Mala</span>
				<span class = "miInline" style = "padding-right: 130px;">Moderada</span>
				<span class = "miInline" style = "padding-right: 120px;">Buena</span>
				<span class = "miInline pull-right">Excelente</span>
			</div>

		</div>
	</div>
</div>