
<div class="cuerpo wrapper">
	<div class="cuerpo" id="pagMapa">
		
		<div class="panel paneltop">
				
			<div class="calendar panel">
				<datepicker class="fechainicio" placeholder="Fecha de inicio" v-model="fechaInicio" name="uniquename2"></datepicker>
				<datepicker placeholder="Fecha de término" v-model="fechaTermino" name="uniquename3"></datepicker>
			</div>
			<!-- <div class="calendar">
				
			</div>
			 -->
			<div class="horario">
				<form action="">
					<input type="radio" name="hour" v-model="horario" value="mañana"> Mañana (8-12)&nbsp;&nbsp;
					<input type="radio" name="hour" v-model="horario" value="tarde"> Tarde (12 -17)&nbsp;&nbsp;
					<input type="radio" name="hour" v-model="horario" value="noche"> Noche (18-24)&nbsp;&nbsp;
				</form>
			</div>
			<div class="botongenerar">

				<Spinner v-if="cargando" style="margin-right: 30px"></Spinner>
				<button type = "button" @click="loadDataMap"  class="btn btn-warning botongen">Generar</button>
			
			</div>
			
		</div>
		<div id="map"></div>
		<div id = "legend3" class = "container-fluid legend2" v-bind:style = "{ 'display' : display }">
			<div id = "legendGradient">
				
			</div>
			<div class = "significado">
				<span class = "miInline" style = "padding-left:2px;padding-right: 140px;">Mala</span>
				<span class = "miInline" style = "padding-right: 130px;">Moderada</span>
				<span class = "miInline" style = "padding-right: 120px;">Buena</span>
				<span class = "miInline pull-right">Excelente</span>
			</div>

		</div>
	</div>
</div>