/*font-family: 'Open Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Signika', sans-serif;*/
#pagMapa{
	padding: 5px;
	min-height: 100vh;
	transition: all 0.3s;
	height: 100%;
}
.cuerpo{
	width: 100%;
}
html, body {
	height: 100%;
}
#map {
	height: 80%;
}
.panel{
	display: flex;
	background: none;
	justify-content: space-around;
	font-family: Varela Round;
	 
}


.calendar, .horario{
	margin-top: 10px;
}
.botongenerar{
	margin-top: 5px;
	
}
.botongen{
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5)!important;
	background-color: #EA7600 !important;
	border-color:#EA7600 !important;

}

.botongen:hover{
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5)!important;
	background-color: rgb(255, 140, 26) !important;
	border-color:#EA7600 !important;

}

.fechainicio{
	margin-right: 8px;
}

.paneltop{
  background: rgb(0, 107, 179);
}

.botones{
	padding-bottom:10px;

}
.btn-default:hover{
	color: #fff;
	background: #EA7600;
}

.active {
	background: #6C0500;	
}
.nav-link:hover{
	color: #6C0500;
}

/* Tab Leyenda */
#leyenda {
    min-width: 0px;
    max-width: 0px;
    background: #910700;
    color: #fff;
    transition: all 0.3s;
}
#leyenda.active {
    min-width: 200px;
    max-width: 200px;
}
	
.calendar{
	margin-bottom: 10px;
}

.horario{
	color:whitesmoke;
	margin-bottom: 5px;
}

.myBtn{
	border-radius:0px;
	margin-left:10px;


}

#legendGradient{
	background: linear-gradient(to right,red,yellow, green);
	height: 25px;
	border: 1px solid black;
}

.legend2{
	margin-top:5px;
	width: 700px;
}
.miInline{
	display:inline-block;
	color:white;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}