
<div class="cuerpo wrapper">
	<div class="cuerpo" id="pagMapa">
		
		<div class="panel paneltop">
				
			<div class="calendar panel">
				<datepicker class="fechainicio" placeholder="Fecha de inicio" v-model="fechaInicio" name="uniquename2"></datepicker>
				<datepicker placeholder="Fecha de término" v-model="fechaTermino" name="uniquename3"></datepicker>
			</div>
			<div class="dropdown dropsalas">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="float:right">
                Puntos de interés
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1"> 
              	<!-- Esto debe traer las salas dinámicamente -->
              	<li v-for="u in users">
		        <a>{{u.nombre}}</a>
		       </li>	
                
              </ul>
            </div>
			<div>
		
</div>		
			<div class="botongenerar">

				<Spinner v-if="cargando" style="margin-right: 30px"></Spinner>
				<button type = "button" @click="loadDataMap"  class="btn btn-warning botongen">Generar</button>
			
			</div>
		</div>
        
        <center><div class="deberiairelchart" style="width: 1000px; height:500px; margin-bottom:20px; background-color: while; color:white; text-align: center">
<img src='http://subirimagen.me/uploads/20190117105658.png'  />      </div>

		  	<h4 class="access"><b>Access point más cercano:  Sala x</b></h4>
			<a href="#/dispositivos" class="btn btn-warning" role="button">Información de dispositivos</a><br><br><br>
			<a href="#" class="btn btn-danger" role="button">Enviar Informe</a>

      </center>

	



		<div id="map"></div>
		<div id = "legend3" class = "container-fluid legend2" v-bind:style = "{ 'display' : display }">
			<div id = "legendGradient">
				
			</div>
			<div class = "significado">
				<span class = "miInline" style = "padding-left:2px;padding-right: 140px;">Mala</span>
				<span class = "miInline" style = "padding-right: 130px;">Moderada</span>
				<span class = "miInline" style = "padding-right: 120px;">Buena</span>
				<span class = "miInline pull-right">Excelente</span>
			</div>

		</div>
	</div>
</div>